LAYOUTSINFO RCDATA filelayouts.txt
GAMESINFO RCDATA gameinfo.txt
VMT1MATVGUILOGOS RCDATA VMT1MATVGUILOGOS.vmt
VMT2MATVGUILOGOSCUSTOM RCDATA VMT2MATVGUILOGOSCUSTOM.vmt
VMT2MATVGUILOGOSUI RCDATA VMT2MATVGUILOGOSUI.vmt
VMT3MATVGUILOGOS RCDATA VMT3MATVGUILOGOS.vmt
VMT3MATVGUILOGOSUI RCDATA VMT3MATVGUILOGOSUI.vmt