VMTTF2VGUILOGOS RCDATA "tf2\vgui-logos\base.vmt"
VMTL4D2VGUILOGOSCUSTOM RCDATA "l4d2\vgui-logos-custom\base.vmt"
VMTL4D2VGUILOGOSUI RCDATA "l4d2\vgui-logos-UI\base.vmt"
VMTL4DVGUILOGOSCUSTOM RCDATA "l4d\vgui-logos-custom\base.vmt"
VMTL4DVGUILOGOSUI RCDATA "l4d\vgui-logos-UI\base.vmt"
VMTCSSVGUILOGOS RCDATA "css\vgui-logos\base.vmt"
VMTCSSVGUILOGOSUI RCDATA "css\vgui-logos-UI\base.vmt"
VMTGMODVGUILOGOS RCDATA "gmod\vgui-logos\base.vmt"
VMTGMODVGUILOGOSUI RCDATA "gmod\vgui-logos-UI\base.vmt"
VMTNMRIHVGUILOGOS RCDATA "nmrih\vgui-logos\base.vmt"
VMTNMRIHVGUILOGOSUI RCDATA "nmrih\vgui-logos-UI\base.vmt"